# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/

site/

# due to using nox and pytest
.nox
.cache

**/geckodriver.log

# logs
*.log

# coverage
.coverage
htmlcov/

### VS Code ###
.vscode/
