# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/
.venv/
.uv-cache/
.uv-python/

site/

# due to using nox and pytest
.nox
.cache
.pytest_cache/
.coverage
htmlcov/

**/geckodriver.log
**/comic_downloader.log

### VS Code ###
.vscode/
